@import url('./preloader.css');
@import url('./checkbox.css');
@import url('./tablas.css');

*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100vw;
  color: #212529;
}

main {
  overflow: auto;
}

/* File Upload */
.container-file-upload {
  display: flex;
  flex-direction: column;
  width: 400px;

  .container-file-upload-form {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;

    width: 200px;
    margin-top: 20px;

    animation: entradaElemento 0.5s ease-in-out;
  }

  .file-upload-form {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
  }
  .file-upload-label input {
    display: none;
  }
  .file-upload-label svg {
    height: 36px;
    width: 100%;
    fill: #007acc;
    margin-bottom: 1px;
  }
  .file-upload-label {
    cursor: pointer;
    background-color: #ddd;
    padding: 15px 35px;
    border-radius: 40px;
    border: 2px dashed rgb(82, 82, 82);
    box-shadow: 0px 0px 200px -50px rgba(0, 0, 0, 0.719);
    transition: border 0.3s ease-in-out;
  }
  /* Estilo de borde cuando se arrastra un archivo */
  .container-file-upload-form.drag-over .file-upload-label {
    border: 2px solid #4caf50;
  }
  .container-file-upload-form.drag-over .file-upload-design {
    opacity: 0.1;
  }
  .container-file-upload-form.drag-over::before {
    content: 'Suelta el archivo aquí';
    position: absolute;
    font-family: cursive;
    font-size: 1rem;
    bottom: 40px;
  }
  .file-upload-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .file-upload-design svg:hover path:nth-child(1) {
    fill: #fff !important; /* Cambia el color de relleno a blanco al hacer hover en el contenedor */
    stroke: #007acc !important;
    stroke-width: 48px;
  }

  .file-upload-design svg:hover path:nth-child(2) {
    fill: #007acc !important; /* Cambia el color de relleno a azul al hacer hover en el contenedor */
  }

  .browse-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: #007acc;
    outline: 3px #007acc solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;

    padding: 2px 10px;
    color: white;
  }
  .browse-button-text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
    margin: 0;
  }
  .browse-button:hover {
    background-color: #fff;
  }
  .browse-button:hover .browse-button-text {
    color: #007acc;
  }
  .file-upoad-label-text {
    margin: 0;
    padding: 0;
  }

  .browse-button:active,
  .file-upload-design svg:active :is(path:nth-child(1), path:nth-child(2)) {
    transform: scale(0.95);
  }

  .nombre-de-archivo {
    font-size: 14px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    display: flex;
    align-items: center;

    transition: opacity 0.8s ease;
    opacity: 0;
  }

  .circulo {
    width: 10px;
    height: 10px;
    background-color: #38f55b;
    clip-path: circle(50% at 50% 50%);
    display: inline-block;
    margin-right: 4px;
  }
}

/* Navbar */
.navbar {
  filter: drop-shadow(2px 4px 4px black);
  border-radius: 0 0 8px 8px;
  --bs-link-active-color: #fff;

  .nav-link {
    color: #fff;
    text-decoration: none;
    line-height: 20px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    border-width: 3px;
  }

  .nav-link.active {
    color: var(--bs-link-active-color);
    text-shadow: rgb(0, 0, 0) 0px 0px 9px;
    /* text-shadow: 2px 1.5px 0px rgba(0, 0, 0, 0.6); */
  }

  .nav-item:hover a {
    opacity: 0.8;
  }

  .nav-item:active {
    transform: scale(0.96);
  }
}

.title {
  animation: entradaElemento 0.5s ease-in-out;
  text-align: center;
}

/* Ordenar por */
.filters {
  margin-top: 19px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 950px;
  user-select: none;

  form {
    width: fit-content;

    label:active {
      transform: scale(0.96);
    }

    label,
    input {
      cursor: pointer;
    }
  }

  fieldset {
    padding: 4px 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 4px;
  }

  .wait {
    cursor: wait !important;
  }
}

/* Boton ver mas */
.btn-ver-mas {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  cursor: pointer;
  border: none;
  background: #000;
  color: ghostwhite;
  overflow: hidden;
  width: fit-content;

  svg.toggleIcon {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.1em;
  }

  span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 5.4 5.9;
  }

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &::before {
    content: '';
    background: linear-gradient(to right, #8e2de2, #007acc);
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    background-color: #007acc;
  }

  &:not([disabled]):hover::before {
    transform: translate3d(100%, 0, 0);
  }

  &:not([disabled]):active {
    transform: scale(0.95);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

/* Filtros Track Container */
.track-container-filter {
  margin-bottom: 16px;
  height: 0;
  opacity: 0;

  .radio-input input {
    display: none;
  }

  .radio-input {
    --container_width: 300px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    color: #000000;
    width: var(--container_width);
    overflow: hidden;
    border: 1px solid rgba(53, 52, 52, 35%);
  }

  .radio-input label {
    width: 100%;
    padding: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 14px;
  }

  .selection {
    display: none;
    position: absolute;
    height: 100%;
    width: calc(var(--container_width) / 3);
    z-index: 0;
    left: 0;
    top: 0;
    transition: 0.15s ease;
  }

  .radio-input label:has(input:checked) {
    color: #fff;
  }

  .radio-input label:has(input:checked) ~ .selection {
    background-color: #007acc;
    display: inline-block;
  }

  .radio-input label:nth-child(1):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 0 / 3));
  }

  .radio-input label:nth-child(2):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 1 / 3));
  }

  .radio-input label:nth-child(3):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 2 / 3));
  }
}

body > footer {
  width: 100%;
  height: auto;
  margin-top: 50px;
  padding-bottom: 12px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 0;
}

.mostrar {
  height: auto !important;
  opacity: 1 !important;
  padding: 6px 4px 8px 4px !important;
}

.hidden {
  display: none !important;
}

.show-alert {
  opacity: 1 !important;
  display: flex !important;
}

@keyframes entradaElemento {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media print {
  .container-file-upload,
  header,
  .filters,
  footer,
  .button-up-container,
  .track-container-filter {
    display: none;
  }

  main {
    overflow: hidden !important;
  }
}
