#checkboxContainer {
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

  .checkbox-container {
    display: block;
    text-wrap: nowrap;
  }
}

/* Fondos claros */
.group-1 {
  background-color: #e0f7fa; /* Light Cyan */
  color: #004d40; /* Dark Teal */
}

.group-3 {
  background-color: #b9fbc0; /* Light Green */
  color: #004d40; /* Dark Teal */
}

.group-5 {
  background-color: #fff59d; /* Light Yellow */
  color: #f57f17; /* Dark Golden Yellow */
}

.group-7 {
  background-color: #ffab91; /* Light Coral */
  color: #bf360c; /* Dark Red */
}

.group-9 {
  background-color: #d1c4e9; /* Light Purple */
  color: #4a148c; /* Dark Purple */
}

.group-11 {
  background-color: #c5e1a5; /* Pale Green */
  color: #1b5e20; /* Dark Green */
}

.group-13 {
  background-color: #64b5f6; /* Light Blue */
  color: #0d47a1; /* Dark Blue */
}

.group-15 {
  background-color: #f8bbd0; /* Light Pink */
  color: #c2185b; /* Dark Pink */
}

.group-17 {
  background-color: #e1bee7; /* Light Lavender */
  color: #4a148c; /* Dark Purple */
}

.group-19 {
  background-color: #b2dfdb; /* Light Teal */
  color: #004d40; /* Dark Teal */
}

.group-21 {
  background-color: #ffccbc; /* Light Peach */
  color: #bf360c; /* Dark Red */
}

.group-23 {
  background-color: #ffecb3; /* Light Amber */
  color: #f57f17; /* Dark Golden Yellow */
}

.group-25 {
  background-color: #c5cae9; /* Light Blue Gray */
  color: #3f51b5; /* Dark Blue */
}

.group-27 {
  background-color: #b9fbc0; /* Light Green */
  color: #004d40; /* Dark Teal */
}

.group-29 {
  background-color: #e0f7fa; /* Light Cyan */
  color: #004d40; /* Dark Teal */
}

/* Fondos fuertes */
.group-0 {
  background-color: #004d40; /* Dark Teal */
  color: #e0f7fa; /* Light Cyan */
}

.group-2 {
  background-color: #f57f17; /* Dark Golden Yellow */
  color: #fff59d; /* Light Yellow */
}

.group-4 {
  background-color: #bf360c; /* Dark Red */
  color: #ffab91; /* Light Coral */
}

.group-6 {
  background-color: #6a1b9a; /* Dark Purple */
  color: #b39ddb; /* Light Purple */
}

.group-8 {
  background-color: #c2185b; /* Dark Pink */
  color: #f8bbd0; /* Light Pink */
}

.group-10 {
  background-color: #1b5e20; /* Dark Green */
  color: #c5e1a5; /* Pale Green */
}

.group-12 {
  background-color: #ff8a65; /* Deep Orange */
  color: #f57f17; /* Dark Golden Yellow */
}

.group-14 {
  background-color: #0d47a1; /* Dark Blue */
  color: #64b5f6; /* Light Blue */
}

.group-16 {
  background-color: #4a148c; /* Dark Purple */
  color: #e1bee7; /* Light Lavender */
}

.group-18 {
  background-color: #004d40; /* Dark Teal */
  color: #b2dfdb; /* Light Teal */
}

.group-20 {
  background-color: #bf360c; /* Dark Red */
  color: #ffccbc; /* Light Peach */
}

.group-22 {
  background-color: #f57f17; /* Dark Golden Yellow */
  color: #ffecb3; /* Light Amber */
}

.group-24 {
  background-color: #3f51b5; /* Dark Blue */
  color: #c5cae9; /* Light Blue Gray */
}

.group-26 {
  background-color: #004d40; /* Dark Teal */
  color: #b9fbc0; /* Light Green */
}

.group-28 {
  background-color: #e0f7fa; /* Light Cyan */
  color: #004d40; /* Dark Teal */
}

.group-30 {
  background-color: #c5e1a5; /* Pale Green */
  color: #1b5e20; /* Dark Green */
}
